.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background: red;
}

.products--grid {
  display: flex;
  flex-direction: column;
  div {
    img {
      width: 100px;
      border-radius: 10px;
      height: 50%;
    }
    h2, p {
      margin: 0;
    }
  }

}

.message-error {
  background: red;
  color: white;
  opacity: 0;
  &.invalid {
    transition: all linear .5s;
    opacity: 1;
  }
}

.line-error {
  height: 0;
  border-bottom: 1px solid;
  &.invalid {
    border-color: red;
  }
  &.valid {
    border-color: green;
  }
}

.styles {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

@media screen and (min-width: 40em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
  }
}

.formulario, .formulario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 500px;
  margin: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
}

form input {
  width: 200px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

form button {
  display: flex;
  justify-content: center;
  color: rgb(111, 156, 111);
  border: 1px solid rgb(111, 156, 111);
  padding: 10px;
  border-radius: 5px;
}

form button:hover {
  cursor: pointer;
  padding: 11px;
}

.error-form {
  opacity: 0;
  &.invalid {
    opacity: 1;
    color: red;
  }
}



